*{
    padding: 0;
    margin:20px;
    border-radius: 10px;
    
}

.main{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: yellow;
    color: white;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 30px;
border-radius: 30px;
padding: 30px;
}


.b{
    height: 5s0vh;
background-color:rgb(217, 8, 165);
width: 80vh;
padding: 20px;
margin-bottom: 8px;
transform: rotateX(10deg);
}
